<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/set.css' />
  </head>
  <body class='upperGap back'>
  <div class='col-sm-12' >
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form action = '/login' method = 'post' class='form'>
        <input class= 'form-control gap colr' type = 'text' name = 'user_id' placeholder = 'NTNET ID'/>
        <input class= 'form-control gap colr' type = 'password' name = 'passwd'  placeholder = 'Password'/>  
        <button class='btn btn-success form-control' type = 'submit'>Login
        <span class='glyphicon glyphicon-cloud-upload'></span>
        </button>
      </form>
    </div>   
  </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
</html>
